@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Prata&display=swap');

.app {
  max-width: 1440px;
  margin: 0 auto;
  padding: 39px 0px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app__header {
  display: flex;
  margin-right: 10%;
  margin-left: auto;
  align-items: center;
  color: #4f4f4f;
  cursor: pointer;
}

.app__header > h4 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
}

.app__author {
  margin-left: 416px;
  margin-top: 48px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #333333;
}

.app__footer {
  display: flex;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #a9a9a9;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}

@media (max-width: 1024px) {
  .app__author {
    margin-left: 150px;
    margin-top: 48px;
  }
}
@media (max-width: 635px) {
  .app {
    padding: 25px 0px;
  }
  .app__author {
    margin-left: 60px;
    margin-top: 28px;
  }
  .app__footer {
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  .app {
    padding: 25px 0px;
  }
  .app__author {
    margin-left: 40px;
    margin-top: 28px;
  }
  .app__footer {
    font-size: 12px;
  }
}
